
.slg {
    font-size: 1.8em;
}

.nmsch {
    font-size: 3.5em;
}

.infosch {
    width: 500px;
    font-size: 1.2em;
}

section {
    padding-top: 150px;
}

.box img {
    width: 420px;
    height: auto;
}


.profil {
    padding-top: 190px;
}

  .dropdown-menu li {
    margin: 10px 0px 10px 0px;
  }
  

  .dropdown-menu .dropdown-item {
    color: white;
  }
  

  /* Mengubah warna item dropdown saat hover */
  .dropdown-menu .dropdown-item:hover {
    background-color: inherit; /* Ganti dengan warna latar belakang saat hover */
    color: yellow;
   
  }





@media (max-width: 992px){
 
    .box img {
        width: 330px;
    }


    .hero-box {
        display: flex;
        align-items: center;
    }


    .slg {
        width: 300px;
        font-size: 2em;
    }

    .nmsch {
        font-size: 3em;
    }
    
    .infosch {
        font-size: 14px;
        width: 300px;
    }

    .dropdown-menu {
        border: none;
    }
 
    .dropdown-menu .dropdown-item {
        text-align: center;
    }

}





@media (max-width: 768px) {
    
    .hero-box {
        text-align: center;
    }

    .nmsch {
        font-size: 2.5em;
    }

    .slg {
        font-size: 1.7em;
    }

    .box img {
        width: 280px;
    }


}



@media (max-width: 576px) {

    iframe {
        height: 300px;
    }

    section {
        padding-top: 110px;
    }

}